
@page "/departament/edit/{IdDepartament:int}"

@using Bussines
@using Entities

@inject NavigationManager NavManager

<h1> Create Departament</h1>
<hr />

<EditForm Model="@oDepartament" OnValidSubmit="SaveDepartament">
    <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="Names" class="form-label">Nombre Corto</label>
            <div class="col-md-4">
                <InputText class="form-control" @bind-Value="oDepartament.Name" />
            </div>
              <ValidationMessage For="@(() => oDepartament.Name)" />      
        </div>
        
        <div class="mb-3">
            <label for="Leader" class="form-label">Leader</label>
            <div class="col-md-4">
                <InputText class="form-control" @bind-Value="oDepartament.Leadership" />
            </div>
              <ValidationMessage For="@(() => oDepartament.Leadership)" />      
        </div>

          <div class="mb-3">
            <label for="Add1" class="form-label">Add 1</label>
            <div class="col-md-4">
                <InputText class="form-control" @bind-Value="oDepartament.Add1" />
            </div>
              <ValidationMessage For="@(() => oDepartament.Add1)" />      
        </div>

        <div class="mb-3">
            <label for="Add2" class="form-label">Add 2</label>
            <div class="col-md-4">
                <InputText class="form-control" @bind-Value="oDepartament.Add2" />
            </div>
              <ValidationMessage For="@(() => oDepartament.Add2)" />      
        </div>

        <div class=form-group>
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-light" @Onclick="Cancel">Cancel</button>
        </div>
         
</EditForm>

@code {
    [Parameter]
    public int IdDepartament { get; set; }
    protected string Title = "Nuevo" ;
    DepartamentsEntity oDepartament = new  DepartamentsEntity();

    protected override async Task OnInitializedAsync()
    {
        if (IdDepartament != 0)
        {
            Title = "Editar";
            oDepartament= B_Departaments.DepartamentById(IdDepartament);
        }  
    }

    private void SaveDepartament()
    {
        if (oDepartament.DepartamentId !=0)
        {
            B_Departaments.UpdateDepartament(oDepartament);
            NavManager.NavigateTo("/departament/list"); 
        }
        else
        {
            B_Departaments.CreateDepartament(oDepartament);
            NavManager.NavigateTo("/departament/list"); 
        }
  
    }
     private void Cancel()
    {
        NavManager.NavigateTo("/departament/list"); 
    }
}
     